
html {
    font-size: 14Q;
    line-height: 6mm;
}

body {
    column-count: 2;
    column-gap: 2rem;
    /* 初期値は"balance"なので不要ではないか？ */
    /* other option: auto, balance-auto */
    column-fill: auto; 

    /* 検証用背景のアミ */
    background-color: rgba(0, 0, 0, 0.05);
}

/* ========== ページ ========== */
@page {
    size: 210mm 297mm;
    margin: 21mm 21mm 18mm;
    /* トンボ表示 */
    marks: crop;
}

/* ========== 見出し ========== */
h1, h2, h3, h4, h5, h6 {
    margin: 0mm;
    font-size: 1rem;
    line-height: 6mm;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
    font-feature-settings: "palt" 1;
    break-after: auto;
}

h2, h3 {
    /* font-size: 12Q;
    line-height: 6mm;
    font-weight: 900;
    margin: 3mm 0; */
}

/* ========== 本文 ========== */
p {    
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    /* font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif; */
    color: black;
    text-align: justify;
    text-indent: 1rem;
    break-after: auto;
}


/* ========== インデント ========== */
/* 行頭一文字落とし */
.indentation {
    padding-left: 1rem;
    text-indent: -1rem;
}
/* 行頭一文字落としの後続段落　または　一文字分段落字下げ */
.indentation-following {
    padding-left: 1rem;
    text-indent: 1rem;
}

/* ========== 文字ツメ ========== */
.tume {
    font-feature-settings: "palt" 1;
}

/* ========== Letter Space ========== */
.letter-space-2percent {
    letter-spacing: -0.02rem;
}
.letter-space-5percent {
    letter-spacing: -0.05rem;
}
.letter-space-7percent {
    letter-spacing: -0.07rem;
}
.letter-space-10percent {
    letter-spacing: -0.1rem;
}
.letter-space-2bu {
    letter-spacing: 0.5rem;
}